# import each week of data in

goff.csv
mariota.csv
kenny_p.csv
aaron_rogers.csv
r_wilson.csv
matty_ice.csv

In [1]:
import pandas as pd

#df = pd.read_csv("mahomes.csv")
#df = pd.read_csv("jalen_hurts.csv")
#df = pd.read_csv("josh_allen.csv")
#df = pd.read_csv("joe_burrow.csv")
#df = pd.read_csv("justin_herbert.csv")
#df = pd.read_csv("lamar_jackson.csv")
#df = pd.read_csv("tua.csv")
#df = pd.read_csv("trevor_lawrence.csv")
#df = pd.read_csv("geno_smith.csv")
#df = pd.read_csv("carr.csv")
#df = pd.read_csv("tom_brady.csv")
#df = pd.read_csv("jimmy_g.csv")
#df = pd.read_csv("kirk_cousins.csv")
#df = pd.read_csv("goff.csv")
#df = pd.read_csv("mariota.csv")
#df = pd.read_csv("kenny_p.csv")
#df = pd.read_csv("daniel_jones.csv")
#df = pd.read_csv("aaron_rogers.csv")
#df = pd.read_csv("tannehill.csv")
#df = pd.read_csv("mac_jones.csv")
#df = pd.read_csv("r_wilson.csv")
#df = pd.read_csv("matty_ice.csv")
#df = pd.read_csv("dalton.csv")

###### new approach -- look at data week by week
train set is previous weeks
test set is current week

Based on EDA, we care about 6 QB stats:
1. Completions
2. Passing Yards
3. Passing TDs
4. Rushing Yards
5. Rushing TDs
6. Points

We will run linear regression on these stats with the target being points scored.

In [2]:
# examine data
df.describe()
df

,WEEK,OPP,CMP,ATT,PCT,YDS,AVG,TD,INT,RAT,ATT.1,YDS.1,AVG.1,TD.1,FPTS/G,FPTS
0,4,MIN,20,28,71.4,236,8.4,1,0,108.63,1,3,3.0,0,13.7,13.74
1,5,SEA,16,24,66.7,187,7.8,1,1,86.63,7,4,0.6,0,9.9,9.88
2,6,CIN,17,32,53.1,162,5.1,1,0,77.86,0,0,0.0,0,10.5,10.48
3,7,ARI,30,47,63.8,361,7.7,4,3,89.05,4,21,5.2,0,26.5,26.54
4,8,LV,22,30,73.3,229,7.6,2,0,117.22,0,0,0.0,0,17.2,17.16
5,9,BAL,19,29,65.5,210,7.2,1,1,83.98,2,5,2.5,0,10.9,10.90
6,10,PIT,17,27,63.0,174,6.4,1,2,62.89,3,1,0.3,0,7.1,7.06
7,11,LAR,21,25,84.0,260,10.4,3,0,149.58,2,-2,-1.0,0,22.2,22.20
8,12,SF,18,29,62.1,204,7.0,0,0,83.12,4,21,5.2,0,10.3,10.26

In [3]:
# check to make sure QB meets min 8 games played criteria
len(df.WEEK)

9

In [4]:
df.mean()
df

C:\Users\tjb\AppData\Local\Temp\ipykernel_13236\4005303691.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

,WEEK,OPP,CMP,ATT,PCT,YDS,AVG,TD,INT,RAT,ATT.1,YDS.1,AVG.1,TD.1,FPTS/G,FPTS
0,4,MIN,20,28,71.4,236,8.4,1,0,108.63,1,3,3.0,0,13.7,13.74
1,5,SEA,16,24,66.7,187,7.8,1,1,86.63,7,4,0.6,0,9.9,9.88
2,6,CIN,17,32,53.1,162,5.1,1,0,77.86,0,0,0.0,0,10.5,10.48
3,7,ARI,30,47,63.8,361,7.7,4,3,89.05,4,21,5.2,0,26.5,26.54
4,8,LV,22,30,73.3,229,7.6,2,0,117.22,0,0,0.0,0,17.2,17.16
5,9,BAL,19,29,65.5,210,7.2,1,1,83.98,2,5,2.5,0,10.9,10.90
6,10,PIT,17,27,63.0,174,6.4,1,2,62.89,3,1,0.3,0,7.1,7.06
7,11,LAR,21,25,84.0,260,10.4,3,0,149.58,2,-2,-1.0,0,22.2,22.20
8,12,SF,18,29,62.1,204,7.0,0,0,83.12,4,21,5.2,0,10.3,10.26

In [5]:
# create x df with 6 relevant rows
x_stats = df.drop(['WEEK', 'OPP', 'ATT', 'PCT', 'AVG', 'INT', 'RAT', 'ATT.1', 'AVG.1', 'FPTS/G'], axis=1)

# isolate y target
y_points = df.iloc[:,15]

# create train split
train_x = x_stats[:5]
train_y = y_points[:5]

# create test split
test_x = x_stats[6:-1]
test_y = y_points[6:-1]

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# run linear regression on training data
#reg = LinearRegression()
#reg.fit(train_x, train_y)

# check accuracy with test data
#mean_squared_error(test_y, reg.predict(test_x))

In [6]:
# lasso

from sklearn.linear_model import Lasso

reg = Lasso(alpha=5)    #alpha is size of threshold, total weight of abs val of our features can't exceed alpha
reg.fit(train_x, train_y)
mean_squared_error(test_y, reg.predict(test_x))

15.8331492630386

In [7]:
# Ridge

#from sklearn.linear_model import Ridge

#reg = Ridge(alpha=5)    #alpha is size of threshold, total weight of abs val of our features can't exceed alpha
#reg.fit(train_x, train_y)
#mean_squared_error(test_y, reg.predict(test_x))

In [8]:
# divide data set into training, validation, and test
# Grid Search -- create grid of alpha and beta hyperparams
# Cross validation -- move validation portion around while training on data set

#from sklearn.model_selection import GridSearchCV  #GriSearchCV becomes regressor instead of ridge
#params = {'alpha': [0.001, 0.01, 0.1, 1, 2, 5, 10, 100, 1000]}
#ridge = Ridge()
#reg = GridSearchCV(ridge, params, scoring='neg_mean_squared_error',
#                  cv=5)

#reg.fit(train_x, train_y)

In [9]:
#reg.best_params_

In [10]:
#reg.best_score_

In [11]:
#mean_squared_error(test_y, reg.predict(test_x))

In [12]:
# predict
reg.predict(test_x)

array([10.40316062, 17.67345876])

In [13]:
# check test data
test_x

   CMP  YDS  TD  YDS.1  TD.1   FPTS
6   17  174   1      1     0   7.06
7   21  260   3     -2     0  22.20

In [14]:
# double the values in their most recent game to weight the data towards the trend of their play
#replacement = test_x.iloc[-1,:].mul(2)
#test_x.iloc[-1,:] = replacement
# sum values
#future = test_x.sum(axis=0)
# divide by size + 1 to account for doubling values of recent game
#future = future.div(len(test_x.CMP) + 1)

In [15]:
# version with no doubled value of recent game
future = test_x.sum(axis=0)
future = future.div(len(test_x.CMP))

In [16]:
predict_upcoming_week = test_x.append(future, ignore_index=True)
predict_upcoming_week

C:\Users\tjb\AppData\Local\Temp\ipykernel_13236\3164448740.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  predict_upcoming_week = test_x.append(future, ignore_index=True)

         CMP         YDS        TD  YDS.1  TD.1       FPTS
0  17.000000  174.000000  1.000000    1.0   0.0   7.060000
1  42.000000  520.000000  6.000000   -4.0   0.0  44.400000
2  19.666667  231.333333  2.333333   -1.0   0.0  17.153333

In [17]:
# predict with new avg column and take new value as prediction for upcoming week performance

expected_performance = reg.predict(predict_upcoming_week)

expected_performance[-1]
#expected_performance

15.250026048302612